{% comment %}
	Generates page navigation with all subpages.

	usage

	{% include pagenav.html subdir=page.url %}

{% endcomment %}

{% assign subdir = include.subdir | default: '' %}
{% assign subdirpath = subdir | split: '/' %}

{% assign subdir_test = subdir | prepend: '#' %}
{% assign pages = '' | split: '' %}
{% for page in site.pages | sort: 'url' %}
	{% assign pageurl = page.url | prepend: '#' %}
	{% if page.hide-nav != true and pageurl contains subdir %}
		{% assign pages = pages | push: page %}
	{% endif %}
{% endfor %}

{% if pages.size > 0 %}

<div class="alert alert-warning" role="alert"><small>Die Hierarchien sind noch nicht korrekt, aber wenigstens sind alle Seiten zu sehen.</small></div>

<ul>
	{% assign currentlevel = subdirpath.size %}
	{% for page in pages %}
		{% assign pagepath = page.url | split: '/' %}
<li>current level: {{currentlevel}}</li>
<li>this level: {{pagepath.size | minus: 1}}</li>
<li><a href="{{ page.url | prepend: site.baseurl  }}">{{ page.title }}</a></li>
	{% endfor %}
</ul>

{% endif %}









{% assign pages_sorted = site.pages | sort: 'url' %}

{% comment %}
	Generate subdir array for comparison of paths.
{% endcomment %}
{% assign subdir = include.subdir | prepend: '/' %}

{% comment %}
	Sort pages by url.
{% endcomment %}
{% comment %}
	Store pages for output.
	There is no "startswith" in Liquid, "contains" could find url chunks within the url.
	Therefore, for comparison we prepend the url and the subdir with "/", because no "//" should occur within an url.
{% endcomment %}
{% assign pages_out = '' | split: '' %}
{% for page in pages_sorted %}
	{% assign testurl = page.url | prepend: '/' %}
	{% if page.hide-nav != true and testurl contains subdir %}
		{% assign pages_out = pages_out | push: page %}
	{% endif %}
{% endfor %}

{% comment %}
	Start ul if there are pages for output.
{% endcomment %}
{% if pages_out.size > 0 %}

<div class="alert alert-warning" role="alert"><small>Die Hierarchien sind noch nicht korrekt, aber wenigstens sind alle Seiten zu sehen.</small></div>

<ul>
	{% comment %}
		Some variables for correct indentation.
	{% endcomment %}
	{% assign level = 0 %}

	{% comment %}
		Loop through output pages.
	{% endcomment %}
	{% for page in pages_out %}
		{% assign testurl = page.url | prepend: '/' %}

		{% if testurl contains subdir %}
<li><a href="{{ page.url | prepend: site.baseurl  }}">{{ page.title }}</a></li>
			{% if testurl contains '.html' %}
			{% else %}
<ul>
				{% assign subdir = testurl %}
				{% assign level = level | plus: 1 %}
				{% comment %}{{ level }}{% endcomment %}
			{% endif %}
		{% else %}
			{% assign tmpsubdir = subdir %}
			{% assign tmplevel = level %}
			{% for i in (1..tmplevel) reversed %}
				{% assign arr_tmpsubdir = tmpsubdir | split: '/' %}
				{% for url_part in arr_tmpsubdir %}
					{% comment %}{{url_part}}{% endcomment %}
				{% endfor %}
			{% endfor %}
<li><a href="{{ page.url | prepend: site.baseurl  }}">{{ page.title }}</a></li>
		{% endif %}
	{% endfor %}

</ul>

{% endif %}

