{% comment %}
	Generates page navigation with all subpages.

	usage

	{% include pagenav.html subdir=page.url %}

{% endcomment %}

{% assign subdir = include.subdir | default: '/index.html' %}

{% assign subdirarray = subdir | prepend: '#' | split: '/' | pop %}
{% assign subdirpath = subdirarray | join: '/' %}


{% assign pages = '' | split: '' %}
{% for page in site.pages | sort: 'url' %}
	{% assign pagecontent = '' | split: '' %}

	{% assign pagearray = page.url | prepend: '#' | split: '/' | pop %}
	{% assign pagepath = pagearray | join: '/' %}

	{% if page.hide-nav != true and pagepath contains subdirpath %}

		{% assign pagecontent = pagecontent | push: pagearray %}
		{% assign pagecontent = pagecontent | push: pagepath %}
		{% assign pagecontent = pagecontent | push: page.url %}
		{% assign pagecontent = pagecontent | push: page.title %}

		{% assign pages = pages | push: pagecontent %}

	{% endif %}
{% endfor %}

{{pages.size}}

{% if pages.size > 0 %}

	{% assign currentarray = subdirarray %}
	{% assign currentpath = subdirpath %}

<ul>

	{% for page in pages %}

		{% if page[1] contains currentpath %}

			{% if currentarray.size == page[0].size %}

<li><a href="{{ page[2] | prepend: site.baseurl  }}">{{ page[3] }}</a></li>

			{% elsif currentarray.size < page[0].size %}

				{% assign leveldiff = page[0].size | minus: currentarray.size %}

				{% for level in (1..leveldiff) %}

<li>
<ul>

				{% endfor %}

<li><a href="{{ page[2] | prepend: site.baseurl  }}">{{ page[3] }}</a></li>

				{% assign currentarray = page[0] %}
				{% assign currentpath = page[1] %}

			{% elsif currentarray.size > page[0].size %}

				{% assign leveldiff = currentarray.size | minus: page[0].size %}

				{% for level in (1..leveldiff) %}

</ul>
</li>

				{% endfor %}

<li><a href="{{ page[2] | prepend: site.baseurl  }}">{{ page[3] }}</a></li>

				{% assign currentarray = page[0] %}
				{% assign currentpath = page[1] %}

			{% endif %}

		{% else %}

				{% for level in (1..page[0].size) %}

</ul>
</li>

					{% assign currentarray = currentarray | pop %}
					{% assign currentpath = currentarray | join: '/' %}

					{% if page[1] contains currentpath %}
						{% break %}
					{% endif %}

				{% endfor %}

				{% assign leveldiff = page[0].size | minus: currentarray.size %}

				{% for level in (1..leveldiff) %}

<li>
<ul>

				{% endfor %}

<li><a href="{{ page[2] | prepend: site.baseurl  }}">{{ page[3] }}</a></li>

				{% assign currentarray = page[0] %}
				{% assign currentpath = page[1] %}

		{% endif %}

	{% endfor %}

	{% assign leveldiff = currentarray.size | minus: 1 %}
	{% for level in (1..leveldiff) %}

</ul>
</li>

	{% endfor %}

</ul>

{% endif %}
