---
layout: default
---

<div class="row">
	<div class="col-lg-8">
		{{ content }}
	</div>
	<div class="col-lg-4">

		<div class="well">
			<h4>{{ site.data.i18n.locales[site.locale].search }}</h4>
			{% include search.html %}
		</div>

		{% if page.hide-toc != true %}
			{% include toc_pure_liquid.html html=content sanitize=true %}
			{% if my_toc != '' %}
				<div class="well">
					<h4>{{ site.data.i18n.locales[site.locale].toc }}</h4>
					{{ my_toc | markdownify }}
				</div>
			{% endif %}
		{% endif %}

		{% include categories_get.html %}
		{% if categories.size > 0 %}
			<div class="well">
				<h4>{{ site.data.i18n.locales[site.locale].categories }}</h4>
				{% include categories_out.html %}
			</div>
		{% endif %}

		{% include tags_get.html %}
		{% if tags.size > 0 %}
			<div class="well">
				<h4>{{ site.data.i18n.locales[site.locale].tags }}</h4>
				{% include tags_out.html %}
			</div>
		{% endif %}

	</div>
</div>
