---
layout: default
---

<div class="row">
	<div class="col-lg-12">
		{{ content }}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		{% include search.html %}
	</div>
</div>

<div class="help-block"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default" id="search-result-panel">
			<div class="panel-heading">{{ site.data.i18n.locales[site.locale].search-results}}</div>
			<div class="panel-body" id="search-result-none"><p>{{ site.data.i18n.locales[site.locale].search-results-none}}</p></div>
			<div class="list-group" id="search-results"></div>
		</div>
	</div>
</div>

<script>

	{% assign ignore_files = '/search.html' %}
	{% if page.ignore-files %}
		{% assign ignore_files = ignore_files | append: ',' | append: page.ignore-files %}
	{% endif %}
	{% assign to_ignore = ignore_files | split: ',' %}

	{% assign pages = '' | split: '' %}

	{% for page in site.pages %}
		{% assign extension = page.url | slice: -5, 5 %}
		{% unless extension != '.html' or to_ignore contains page.url %}
			{% assign pages = pages | push: page %}
		{% endunless %}
	{% endfor %}
	{% for page in site.posts %}
		{% assign extension = page.url | slice: -5, 5 %}
		{% unless extension != '.html' or to_ignore contains page.url %}
			{% assign pages = pages | push: page %}
		{% endunless %}
	{% endfor %}

	window.store = {
		{% for page in pages %}
			"{{ page.url | slugify }}": {
				"title": "{{ page.title | xml_escape }}",
				"content": {{ page.content | strip_html | strip_newlines | jsonify }},
				"url": "{{ page.url | xml_escape | prepend: site.baseurl }}"
			}
			{% unless forloop.last %},{% endunless %}
		{% endfor %}
	};
</script>

<!-- Lunr search engine -->
<script src="{{ '/js/lunr-2.0.4.js' | prepend: site.baseurl }}"></script>

<!-- Search code -->
<script src="{{ '/js/search.js' | prepend: site.baseurl }}"></script>
