---
layout: default
---

{% comment %}

Provides a service panel with three possible layouts:

- panels (default)
- tabs
- list

Layout type is defined in the front matter with:

servicepage: <layout type>

i.e.

servicepage: panels
servicepage: tabs
servicepage: list

{% endcomment %}

{% assign layouttype = page.servicepage | default: 'panels' %}

<div class="row">
{% if page.show-search %}
	<div class="col-lg-8">
		{{ content }}
	</div>
	<div class="col-lg-4">
		{% include search.html %}
	</div>
{% else %}
	<div class="col-lg-12">
		{{ content }}
	</div>
{% endif %}
</div>

<div class="row">

	<div class="col-lg-12">
		<h3 class="page-header">{{ site.data.i18n.locales[site.locale].services }}</h3>
	</div>

	{% case layouttype %}

		{% when 'tabs' %}

			<div class="col-lg-12">

				<ul id="myTab" class="nav nav-tabs nav-justified">
					{% assign theclass = 'active' %}
					{% for navitem in site.data.navigation %}
						{% if navitem.servicepage == true %}
							<li class="{{ theclass }}"><a href="#{{ navitem.title | slugify }}" data-toggle="tab"><i class="fa fa-{{ navitem.icon }}"></i> {{ navitem.title }}</a></li>
							{% assign theclass = '' %}
						{% endif %}
					{% endfor %}
				</ul>

				<div id="myTabContent" class="tab-content">
					{% assign theclass = 'active' %}
					{% for navitem in site.data.navigation %}
						{% if navitem.servicepage == true %}
							<div class="tab-pane fade {{ theclass }} in" id="{{ navitem.title | slugify }}">
								<h4>{{ navitem.title }}</h4>
								{{ navitem.description | markdownify }}
								<p><a href="{{ navitem.href | prepend: site.baseurl }}">{{ site.data.i18n.locales[site.locale].continue }}</a></p>
							</div>
							{% assign theclass = '' %}
						{% endif %}
					{% endfor %}
				</div>

			</div>

		{% when 'list' %}

			<div class="col-md-6">
				{% for navitem in site.data.navigation %}
					{% if navitem.servicepage == true %}
						<div class="media">
							<div class="pull-left">
								<a href="{{ navitem.href | prepend: site.baseurl }}"><span class="fa-stack fa-2x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-{{ navitem.icon }} fa-stack-1x fa-inverse"></i>
								</span></a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{ navitem.title }}</h4>
								{{ navitem.description | markdownify }}
								<p><a href="{{ navitem.href | prepend: site.baseurl }}">{{ site.data.i18n.locales[site.locale].continue }}</a></p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

		{% else %}

			{% for navitem in site.data.navigation %}
				{% if navitem.servicepage == true %}
					<div class="col-md-3 col-sm-6">
						<div class="panel panel-default text-center">
							<div class="panel-heading">
								<a href="{{ navitem.href | prepend: site.baseurl }}"><span class="fa-stack fa-5x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa fa-{{ navitem.icon }} fa-stack-1x fa-inverse"></i>
								</span></a>
							</div>
							<div class="panel-body">
								<h4>{{ navitem.title }}</h4>
								{{ navitem.description | markdownify }}
								<a href="{{ navitem.href | prepend: site.baseurl }}" class="btn btn-primary">{{ site.data.i18n.locales[site.locale].continue }}</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}

	{% endcase %}
</div>
